/* Defaults for all elements */
* {
  font-family: tahoma, helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

/* properties for entire page */
.mainResultsPage {
  width: 99%;
}
/* Heading for year title */
.mainTitleArea {
    display: block;
    top: 0;
    position: fixed;
    background-color: lightgrey;
    border: 1px solid darkgrey;
}
.mainTitle {
    text-align: center;
}
.mainTitleBlock {
  display: block;
  visibility: hidden;
  top: 0;
}
/* Footer area */
.mainFooterArea {
    clear: both;
    display: block;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    padding: 0.1em;
    position: fixed;  
    bottom: 0;
}
.mainFooter {
    text-align: left;
    font-size: 0.5em;
    padding: 0;
}
.mainFooterBlock {
  clear: both;
  float: left;
  display: block;
  height: 3em;
  visibility: hidden;
}

.summaryResultsHeading {
  clear: left;
}

.summaryResultsArea {
  width: 38%;
  clear: left;
}

/* Year selection radio button area */
.resultsSummaryYearArea {
    clear: left;
}
.resultsSummaryYearFieldset {
    border: none;
}
.resultsSummaryYearField {
    float: left;
    width: 16%;
    font-size: 0.6em;
}

/* Region selection checkbox area */
.resultsSummaryRegionArea {
    clear: left;
}
.resultsSummaryRegionFieldset {
    border: none;
}
.resultsSummaryRegionField {
    float: left;
    width: 33%;
    font-size: 0.6em;
}
.resultsSummaryRegionButtons {
    float: left;
}
.resultsSummaryRegionButton {
   border: 1px solid darkgrey;
   outline: none;
   padding: 0.5em;
   float: left;
   width: 20%;
   background-color: lightgrey;
   font-size: 0.6em;
}

/* Party selection checkbox area */
.resultsSummaryPartyArea {
    clear: left;
}
.resultsSummaryPartyFieldset {
    border: none;
}
.resultsSummaryPartyField {
    float: left;
    width: 33%;
    font-size: 0.6em;
}
.resultsSummaryPartyButtons {
    float: left;
}
.resultsSummaryPartyButton {
   border: 1px solid darkgrey;
   outline: none;
   padding: 0.5em;
   float: left;
   width: 20%;
   background-color: lightgrey;
   font-size: 0.6em;
}

/* Sort options button area */
.resultsSummarySortArea {
    clear: left;
}
.resultsSummarySortAreaText p {
    font-size: 0.6em;
}
.resultsSummarySortButton {
   border: 1px solid darkgrey;
   outline: none;
   padding: 0.5em;
   float: left;
   width: 33%;
   background-color: lightgrey;
   cursor: move;
   font-size: 0.6em;
}

/* Search field */
.resultsSummarySearchArea {
    border: none;
    clear: left;
}
.resultsSummarySearchBox {
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1%; 
}

/* Menu buttons for options */
.resultsSummaryMenuOptions {
    border: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    clear: left;
}
.resultsSummarySelectButtons {
   padding: 0;
   margin: 0;
   margin-top: 1%;
}
.resultsSummarySelectButton {
   border: 1px solid darkgrey;
   outline: none;
   padding: 0.4em;
   float: left;
   background-color: lightgrey;
   cursor: pointer;
   font-size: 0.6em;
   width: 25%;
   height: 3em;
}

.resultsSummarySelectButton:hover {
  background-color: darkgrey;
  color: white;
}

/* Results summary table of results */
.resultsSummaryConstituencies {
    border: none;
    clear: left;
    margin-top: 1em;
}
.resultsSummaryTable {
  font-size: 0.8em;
  border-collapse: collapse;
  border-spacing:0;
  border: none;
  table-layout: fixed;
}
.resultsSummaryTable th {
  background-color: dimgrey;
  color: white;
  border: none;
  font-weight: normal;
}

.resultsSummaryTable .summListL1 {
  padding: 0;
  padding-top: 0.5em;
  cursor: pointer;
}
.resultsSummaryTable .summListPrev1 {
  width: 1%;
}
.resultsSummaryTable .summListCon {
  width: 45%;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.resultsSummaryTable .summListCurr1 {
  width: 1%;
}
.resultsSummaryTable .summListMP {
  width: 35%;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.resultsSummaryTable .summListMar {
  width: 17%;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.resultsSummaryTable .summListSec1 {
  width: 1%;
}


.resultsSummaryTable .summListL2 { 
  padding-bottom: 0.5em;
  cursor: pointer;
}
.resultsSummaryTable .summListPrev2 {
  width: 1%;
}
.resultsSummaryTable .summListReg {
  width: 45%;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.resultsSummaryTable .summListCurr2 {
  width: 1%;
}
.resultsSummaryTable .summListParty {
  width: 35%;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.resultsSummaryTable .summListEmpty {
  width: 17%;
}
.resultsSummaryTable .summListSec2 {
  width: 1%;
}
.resultsSummaryTable a {
  display:inline-block;
  min-height:100%;
  text-decoration: none;
  color: black;
}


/* Detail Results for constituency */
.detailResultsArea {
  padding-left: 0.5em;
  margin-top: 1em;
  width: 62%;
  float: right;
}
.detailResultsOverall {
   clear: left;
}
.detailResultsTitleArea {
    text-align: center;
}
.detailResultsOverallLeft {
    clear: left;
    float: left;
    width: 33%;
    height: 100%;
}
.detailResultsOverallCanvas {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
.detailResultsOverallCenter {
    float: left;
    width: 33%;
}
.detailResultsOverallCenter table {
    margin: 0 auto;
    padding-bottom: 2%;
}
.detailResultsOverallRight {
    float: right;
    width: 33%;
    height: 100%;
}
.detailResultsOverallText {
    font-size: 0.8em;
    width: 50%;
}
.detailResultsOverallNumber {
    text-align: right;
    font-size: 0.8em;
}

.detailResultsDetail {
   clear: left;
}
.resultsDetailTable {
  font-size: 0.8em;
  border-collapse: collapse;
  table-layout: fixed;
}
.resultsDetailTable th {
  background-color: dimgrey;
  color: white;
  border: none;
  font-weight: Normal;
}

.resultsDetailColour {
  width: 1%;
  text-align: left;
}
.resultsDetailCandidate {
  width: 43%;
  text-align: left;
  padding-left: 1em;
  padding-top: 0.5em;
}
.resultsDetailCandidateLink {
  text-decoration: none;
}
.resultsDetailCandidateNoLink {
  text-decoration: none;
  color: black;
}
.resultsDetailPhoto {
    width: 15%;
    text-align: left;
    padding-left: 1em;
    padding-top: 0.5em;
}
.resultsDetailVotes {
  width: 15%;
  text-align: right;
}
.resultsDetailShare {
  width: 13%;
  text-align: right;
}
.resultsDetailChange {
  width: 13%;
  text-align: right;
}
.resultsDetailParty {
  width: 43%;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 0.5em;
}


.euResultsDetails {
    clear: left;
    margin-top: 1em;
 } 
.euResultTitle {
    text-align: left;
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
  }
.euResultsDetailTable {
   font-size: 0.8em;
   border-collapse: collapse;
}
.euResultsDetailTable th {
   background-color: dimgrey;
   color: white;
   border: none;
   font-weight: Normal;
}
 .euResultsColour {
    width: 1%;
    text-align: left;
  }
  .euResultsLocAuth {
    width: 33%;
    text-align: left;
    padding-left: 1em;
    padding-top: 0.3em;
  }
  .euResultsElectorate {
    width: 11%;
    text-align: right;
  }
  .euResultsTurnoutPct {
    width: 11%;
    text-align: right;
  }
  .euResultsRemainVotes {
    width: 11%;
    text-align: right;
  }
  .euResultsRemainPct {
    width: 11%;
    text-align: right;
  }
  .euResultsLeaveVotes {
    width: 11%;
    text-align: right;
  }
  .euResultsLeavePct {
    width: 11%;
    text-align: right;
  }